@page "/"
@using System.Runtime.InteropServices.JavaScript
@using Blazorise.Charts
@using Blazorise.Charts.Streaming
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.SignalR.Client
@using Color = ApexCharts.Color
@using Label = Blazorise.Label
@rendermode InteractiveServer
    @using Blazorise.Components
@using Blazorise.Extensions


    <PageTitle>Home</PageTitle>
    <div class="mainDiv">
        <div class="wrapperTop">

            <div class="headlineDiv">
                <h1>Kraftwerk Frontend!</h1>
                <h2>Current Power: @Energy</h2>
                <div class="buttonDiv">
                    <button @onclick="GetEnergyStart">Start</button>
                    <button @onclick="Reset">Reset</button>
                    <div class="dropdown">
	                    <p>
		                    <label class="dropdown">
			                    Select your Member:
			                    <select class="dropdown" @onchange="OnDropdownChange">
				                    <option class="dropdown" value="">Select a value</option>
				                    @foreach (var member in Members)
				                    {
					                    <option value="@member.Key">@member.Value</option>
				                    }
			                    </select>
		                    </label>
	                    </p>

                    </div>
                    <div class="inputField">
	                    <Field>
		                    <p class="inputHeadline">Amount @AmountText</p>
		                    <NumericPicker Placeholder="0" @bind-Value="@AmountMultiplicator" />
	                    </Field>
                    </div>
                    <button @onclick="ChangeConsumerAmount">Save</button>
                </div>
            </div>
            <div class="placeholderDiv">
            </div>
        </div>
        <div class="wrapperBottom">
            <div class="labelsDiv">
                <p class="topLabel">53</p>
                <p class="middleLabel">51.5</p>
                <p class="middleLabel">50</p>
                <p class="middleLabel">48.5</p>
                <p class="bottomLabel">47</p>
            </div>
            <div class="chartDiv">
                <LineChart @ref="horizontalLineChart" TItem="LiveDataPoint" OptionsObject="@horizontalLineChartOptions">
                    <ChartStreaming TItem="LiveDataPoint"
                                    Options="new ChartStreamingOptions { Delay = 2000 }"
                                    Refreshed="@OnHorizontalLineRefreshed" />
                </LineChart>
            </div>
        </div>
    </div>

@code {


    public int _amountMultiplicator;

    public int AmountMultiplicator
    {
        get { return this._amountMultiplicator; }
        set
        {
            this._amountMultiplicator = value;
            MultiplicatorAmount[ActiveMember.Value.Key] = value;
        }
    }

    public string AmountText { get; set; } = "for selection";

    public KeyValuePair<string, string>? ActiveMember { get; set; }

    public
    LineChart<LiveDataPoint> horizontalLineChart;
    public Dictionary<string, string> Members { get; set; } = new();
    public Dictionary<string, int> MultiplicatorAmount { get; set; } = new();

    private void OnDropdownChange(ChangeEventArgs e)
    {
        if ((e.Value is string dropdownValue) && !String.IsNullOrWhiteSpace(dropdownValue))
        {
            ActiveMember = Members.FirstOrDefault(x => x.Key == dropdownValue);
            if (ActiveMember.Value.Value.Contains("Powerplant"))
            {
                AmountMultiplicator = MultiplicatorAmount.FirstOrDefault(x => x.Key == dropdownValue).Value;
                AmountText = "Pulses";
                return;
            }
            AmountMultiplicator = MultiplicatorAmount.FirstOrDefault(x => x.Key == dropdownValue).Value;
            AmountText = "Consumers";
        }
        else
        {
            ActiveMember = null;
        }
    }

    string[] Labels = { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" };
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.6f), ChartColor.FromRgba(54, 162, 235, 1), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };

    public struct LiveDataPoint
    {
        public object X { get; set; }
        public object Y { get; set; }
    }

    private object horizontalLineChartOptions = new
    {
        ChartAxis = new ChartAxis()
        {
            BeginAtZero = false
        },
        ChartScales = new
        {
            Y = new
            {
                Color = "#ffffff",
                Display = false
            }
        },

        Chart = new
        {
            BackgroundColor = ChartColor.FromRgba(40, 40, 40, 0.8f)

        },
        Scales = new
        {
            Y = new
            {
                Title = new
                {
                    Display = false,
                    Text = "Frequency",

                },
                Min = -3,
                Max = 3,
                Ticks = new
                {
                    StepSize = 1.5,
                    Color = "#ffffff",
                    Display = false
                },
                Grid = new
                {
                    Color = "#ffffff",
                },
            }
        },
        Interaction = new
        {
            Intersect = false
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.WhenAll(
                HandleRedraw(horizontalLineChart, GetLineChartDataset1));
        }
    }

    async Task HandleRedraw<TDataSet, TItem, TOptions, TModel>(BaseChart<TDataSet, TItem, TOptions, TModel> chart, params Func<TDataSet>[] getDataSets)
        where TDataSet : ChartDataset<TItem>
        where TOptions : ChartOptions
        where TModel : ChartModel
    {
        await chart.Clear();
        await chart.AddLabelsDatasetsAndUpdate(Labels, getDataSets.Select(x => x.Invoke()).ToArray());
    }

    LineChartDataset<LiveDataPoint> GetLineChartDataset1()
    {
        return new LineChartDataset<LiveDataPoint>
        {
            Data = new List<LiveDataPoint> { new LiveDataPoint { X = DateTime.Now, } },
            Label = "Frequenzabweichung",
            BackgroundColor = backgroundColors[0],
            BorderColor = backgroundColors[0],
            Fill = true,
            Tension = (float?)0.4,
            PointRadius = 3,
            CubicInterpolationMode = "monotone",
        };
    }

    HubConnection hub;
    public double Energy { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        hub = new HubConnectionBuilder()
            .WithUrl("https://localhost:7272/Powergrid")
            .Build();

        await hub.StartAsync();
        await hub.SendAsync("GetMemberDataR");

        hub.On<string>("ReceiveMessage", async (message) =>
        {
            if (double.TryParse(message, out var newEnergy))
            {
                Energy = newEnergy;
                await InvokeAsync(StateHasChanged);
            }
        });
        hub.On<Dictionary<string, string>>("ReceiveMembers", async (message) =>
        {
            Members = message;
            foreach (var member in Members)
            {
                if (member.Value.Contains("Consumer"))
                {
                    MultiplicatorAmount.Add(member.Key, 500);
                    continue;
                }
                MultiplicatorAmount.Add(member.Key, 5);
            }
            Console.WriteLine(message.Count());
            await InvokeAsync(StateHasChanged);

        });

        hub.On<Dictionary<string, int>>("ReceiveMemberData", async (message) =>
        {
            MultiplicatorAmount = message;
            if(message != null) await InvokeAsync(StateHasChanged);
        });
    }

    public async Task ChangeConsumerAmount()
    {
        await hub.SendAsync("ChangeMultiplicatorAmountR", ActiveMember.Value.Key, AmountMultiplicator);
    }

    private async Task GetEnergyStart()
    {
        await hub.SendAsync("GetMemberDataR");
        while (true)
        {
            try
            {
                await hub.SendAsync("GetEnergyR");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }

            if (Energy / 10000 + 50 <= 47.5 || Energy / 10000 + 50 >= 52.5)
            {
                await Reset();
            }

            await UpdateChartOptions();
            await InvokeAsync(StateHasChanged);

            await Task.Delay(2000);
        }
    }

    private async Task Reset()
    {
        await hub.SendAsync("ResetEnergy");
        Energy = 0;
    }

    Task OnHorizontalLineRefreshed(ChartStreamingData<LiveDataPoint> data)
    {
        data.Value = new LiveDataPoint
        {
            X = DateTime.Now,
            Y = (Energy / 10000)
        };

        return Task.CompletedTask;
    }

    private async Task UpdateChartOptions()
    {

        horizontalLineChartOptions = new
        {
            ChartAxisTicks = new ChartAxisTicks()
            {
                Callback = (value, index, values) => (value + 50).ToString()
            },
            ChartScales = new
            {
                Y = new
                {
                    Color = "#3B3B3B",
                }
            },

            Scales = new
            {

                Y = new
                {

                    Title = new
                    {
                        Display = true,
                        Color = "#3B3B3B",
                        Text = "Frequency"
                    },

                }
            },
            Interaction = new
            {
                Intersect = false
            }
        };

        await horizontalLineChart.Update();
    }
}
